@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a >building Web apps with ASP.NET Core</a>.</p>
    <b>

    </b>
    <button type="button" class="btn btn-primary"
            onclick="location.href='@Url.Action("List Of Buses", "Travels")'">
        Buses List
    </button></th>
    </tr>

</div>
